body{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.box{
    height: 500px;
    width:  900px;
    background-color: purple;
    border: solid burlywood;
    position:relative;
    top: 120px;
    border-radius: 50px ;
    align-items: center;
    justify-content: center;
}
 .box2{
    background-color: white;
    height: 400px;
    width: 800px;
    position: relative;
    border-radius: 40px;
    top: 50px;
    left: 50px;  
}
.boxa{
    background-color: lawngreen;
    height: 400px;
    width: 400px;
    border-radius: 40px; 
}
.boxa1{
    background-color: blanchedalmond;
    height: 150px;
    width: 150px;
    border-radius: 80px;
    position: relative;
    top: 70px;
    left: 120px;
    border: solid;
    align-items: center;
    justify-content:center;
    background: linear-gradient(pink,grey,gold);

}
h1{
    position: relative;
    bottom: 80px;
    left: 50px;
}
h2{
   position: relative;
   bottom: 80px;
   text-align: center;
}
h3{
    position: relative;
    top: 30px;
    right: 10px;
    color: brown;
    text-align: center;
}
pre{
    position: relative;
    top:30px;
    right: 10px;
    color: brown;
    text-align: center;
    font-size: 20px;
}
p{
    position: relative;
     bottom: 40px;
     left: 40px;
}
.list{
    position: relative; 
    justify-content: center;
    align-items: center;
    left: 450px;
    bottom: 330px;
    text-decoration: none; 
}
li{
    padding: 10px;
    position: relative;
    text-decoration: none; 
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 1px solid ;

}
ul{
    text-decoration: none;   

}
.first{
    background-color:rgba(251, 251, 12,0.2);
    color:orange ;
    border-color: orange;
}
.second{
    background-color: rgba(234, 15, 15, 0.2);
    color: red;
    border-color: red;
}
.third{
    background-color:rgba(3, 138, 3, 0.2);
    color:green;
    border-color: green;
}
.fourth{
    background-color: rgba(19, 19, 240,0.2);
    color:blue ;
    border-color: blue;
}
.marks{
      position: relative;
       bottom: 33px;
      left: 150px; 
}
.edit1{
    position: relative;
    right: 30px;
}
.edit3{
     position: relative; 
    text-decoration: none;
}